{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Joseph Cartaphilus</title>
    <link rel="stylesheet" href="{% static 'css/add_track_to_playlist.css' %}">
    <link rel="icon" type="images/png" href="{% static 'css/img/ico.png' %}">
</head>
<body>
<div class="wrapper">
    <form method="post" enctype="multipart/form-data" style="display: flex; flex-direction: column;">
        {% csrf_token %}
        <div style="display: flex; flex-direction: column;">
            <h1 style="display: flex; align-items: center; justify-content: center">Add Track</h1>
            <div style="margin: 10px 0;">
                <label for="{{ form.playlist.id_for_label }}">Choose your playlist:</label>
                {{ form.playlist }}
            </div>
            <label for="{{ form.tracks.id_for_label }}">Choose your tracks:</label>
            <div style="margin: 10px 0;">
                {{ form.tracks }}
            </div>
        </div>
        <button type="submit">Save Track</button>
        <br>
        <div>
            <a class="btn-a" href="{% url 'playlists' %}">Playlists</a>
        </div>
    </form>
</div>
</body>
</html>