{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Joseph Cartaphilus</title>

    <link rel="stylesheet" href="{% static 'css/forest.css' %}">
    <link rel="icon" type="images/png" href="{% static 'css/img/ico.png' %}">

    <script src="{% static 'libs/gsap/gsap.min.js' %}" defer></script>
    <script src="{% static 'libs/gsap/ScrollTrigger.min.js' %}" defer></script>
    <script src="{% static 'libs/gsap/ScrollSmoother.min.js' %}" defer></script>

    <script src="{% static 'js/app.js' %}" defer></script>

</head>
<body>

<div class="wrapper">
    <div class="content">

        <header class="main-header">
            <div class="layers">
                <div class="layer__header">
                    <div class="layers__caption">Welcome to my website</div>
                    <div class="layers__title">Fairy Forest</div>
                </div>
                <div class="layer layers__base" style="background-image: url({% static 'img/layer-base.png' %});"></div>
                <div class="layer layers__middle"
                     style="background-image: url({% static 'img/layer-middle.png' %});"></div>
                <div class="layer layers__front"
                     style="background-image: url({% static 'img/layer-front.png' %});"></div>
            </div>
        </header>
        {% if user.is_authenticated %}
            <a href="{% url 'profile' %}">
                <article class="main-article" style="background-image: url({% static 'img/dungeon.jpg' %});">
                    <div class="main-article__content">
                        <h2 class="main-article__header">Welcome back</h2>
                    </div>
                    <div class="copy">&copy; Joseph Cartaphilus</div>
                </article>
            </a>
        {% else %}
            <a href="{% url 'login_or_register' %}">
                <article class="main-article" style="background-image: url({% static 'img/dungeon.jpg' %});">
                    <div class="main-article__content">
                        <h2 class="main-article__header">Sing up to start</h2>
                    </div>
                    <div class="copy">&copy; Joseph Cartaphilus</div>
                </article>
            </a>
        {% endif %}
    </div>
</div>

</body>
</html>